<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang=lang="{% if page.locale %}{{ page.locale }}{% else %}en{% endif %}" lang=lang="{% if page.locale %}{{ page.locale }}{% else %}en{% endif %}">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta content="no-cache" http-equiv="pragma">
   <meta content="no-cache,no-store" http-equiv="cache-control">
   <meta content="-1" http-equiv="expires">
   <title>{{ page.title }}</title>
   <meta name="author" content="jiaji yin" />

   <!-- syntax highlighting css -->
   <link rel="stylesheet" href="/css/pygments.css" type="text/css" />

   <!-- homepage css -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<!-- clicktale top part -->
<script type="text/javascript">
var wrinittime=(new date()).gettime();
</script>
<!-- clicktale end of top part -->

<div class="site">
  <div class="title">
      <a href="http://www.taijicoder.com/">欢迎访问我的新站点，taijicoder.com一个热爱太极的程序员！</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        <a href="mailto:yinjiaji110@gmail.com">邮箱</a>
        <a href="http://weibo.com/2249050740/profile?rightmod=1&wvr=5&mod=personinfo">微博</a>
      </p>
    </div>
   <!-- <div class="github-card" data-user="fykec" data-width="400" data-height="150"></div>
    <script src="http://lab.lepture.com/github-cards/widget.js"></script>-->
  </div>
<div style="width: 350px; height: 57px; border: 1px solid #bbbbbb;"><a href="http://ctext.org"><img src="http://ctext.org/logos/ctplogo2.gif" border="0" alt="chinese text project" /></a></div>
<div><a href="http://www.ziyexing.com">子夜星</a></div>
</div>

<a href="http://github.com/fykec"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="fork me on github" /></a>

<!-- clicktale bottom part -->
<div id="clicktalediv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3cscript%20src='http://s.clicktale.net/wrb.js'%20type='text/javascript'%3e%3c/script%3e"));
</script>
<script type="text/javascript">
if(typeof clicktale=='function') clicktale(206,0.3,"www03");
</script>
<!-- clicktale end of bottom part -->

</body>
</html>
