<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang=lang="{% if page.locale %}{{ page.locale }}{% else %}en{% endif %}" lang=lang="{% if page.locale %}{{ page.locale }}{% else %}en{% endif %}">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta content="no-cache" http-equiv="pragma">
   <meta content="no-cache,no-store" http-equiv="cache-control">
   <meta content="-1" http-equiv="expires">
   <title>{{ page.title }}</title>
   <meta name="author" content="Jiaji Yin" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/pygments.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="/">Jiaji Yin</a>
  </div>
  <div class="github-card" data-user="fykec" data-width="400" data-height="150"></div>
  <script src="http://lab.lepture.com/github-cards/widget.js"></script>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
         yinjiaji110@gmail.com
      </p>
    </div>
  </div>
</div>

<a href="http://github.com/Fykec"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(206,0.3,"www03");
</script>
<!-- ClickTale end of Bottom part -->

</body>
</html>
